@font-face {
    font-family: 'Myriad Pro';
    src: url('../myriad-pro-cufonfonts/MYRIADPRO-REGULAR.OTF');
}

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Myriad Pro', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}