@font-face {
    font-family: 'Myriad Pro';
    src: url('../myriad-pro-cufonfonts/MYRIADPRO-REGULAR.OTF');
}
@font-face {
    font-family: 'Myriad Pro Semi';
    src: url('../myriad-pro-cufonfonts/MYRIADPRO-SEMIBOLD.OTF');
}
@font-face {
    font-family: 'Myriad Pro Bold';
    src: url('../myriad-pro-cufonfonts/MYRIADPRO-BOLD.OTF');
}
@font-face {
    font-family: 'Myriad Pro Light';
    src: url('../myriad-pro-cufonfonts/MyriadPro-Light.otf');
}



*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Myriad Pro', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}