html{
    background-color: #4000D3;
    font-size: 62.5%;
}

body{
    display: grid;
    grid-template-areas: "header header header header"
                         "painel painel painel painel"
                         "sobre sobre sobre sobre"
                         "serviços serviços serviços serviços"
                         "clientes clientes clientes clientes"
                         "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.6rem;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 400;
}

/* HEADER */

.header{
    grid-area: header;
}

.header .header-container{
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    height: 100px;
    
}

.header .header-container .logo img{
    width: 300px;
    height: 100px;
}

.header a:hover{
    color: #4000D3;
}

@media (max-width: 425px){
    .header .header-container {
        padding: 10px 20px;
    }
    .header .header-container .logo{
        width: auto;
    }
}

/* PAINEL */

.painel{
    grid-area: painel;
    height: 80vh;
    background: url('../images/painel.webp') center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.painel h2{
    font-weight: 400;
    font-size: 5rem;
    color: #ffffff;
    font-family: 'Myriad Pro Bold';
    padding:10px 200px;
    text-align: center;
    
    
}

.painel p{
    font-family: 'Myriad Pro Light';
    font-weight: 100;
    font-size: 2.5rem;
    color: #ffffff;
    padding: 30px 200px;
    line-height: 30px;
    text-align: center;
    

}

.painel a{
    color: #ffffff;
    background-color: #4000D3;
    border-radius: 50px;
    padding: 15px;
    transition: 0.3s;
    margin-top: 10px;
}

.painel a:hover{
    color: #000;
    background-color: #00ffff;
}

.painel:after {
    content: url('../images/seta_preta.png');
    height: 35px;
    bottom: 40px;
    position: absolute;
    animation: downarrow 0.6s infinite alternate ease-in-out;
}

@-webkit-keyframes downarrow {
    0% { -webkit-transform: translateY(0); 
    opacity: 0.4;}
    100% { -webkit-transform: translateY(0.4em); 
    opacity: 0.9;}
}

@media (max-width: 900px) {
    .painel h2{
        font-size: 4rem;

    }
    .painel p{
        font-size: 2rem;
    }
}

@media (max-width: 768px){
    .painel h2{
        font-size: 3.5rem;
        padding: 10px 100px;
    }
    .painel p{
        font-size: 1.8rem;
        padding: 10px 50px;
    }
}
@media (max-width: 425px){
    .painel{
        height: 60vh;
    }
    .painel h2{
        font-size: 2.5rem;
        padding: 10px 50px;
    }

    .painel p{
        font-size: 1.5rem;
        padding: 10px 50px;
    }


}

/* SOBRE */

.sobre{
    grid-area: sobre;
    display: grid;
    height: 90vh;
    grid-template-columns: 1fr 1fr; 
    max-width: var(--max-width-size);
    justify-content: center;
    align-items: center;
    
}

.sobre .imagem{
    background: url('../images/sobre.jpeg') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.sobre .item{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4000D3;
}

.sobre .item h3{
    font-family: 'Myriad Pro Bold';
    font-size: 4rem;
    color:#ffffff

}

.sobre .item p {
    font-family: 'Myriad Pro Light';
    font-size: 1.8rem;
    line-height: 25px;
    margin: 30px 0;
    color:#ffffff
}

.sobre .item a {
    font-size: 1.6rem;
    align-self: flex-start;
    padding: 15px;
    border-radius: 50px;
    transition: 0.3s;
    color:#ffffff;
    background-color: #00ffff;
}

.sobre .item a:hover {
    color:#000000;
}

@media (max-width: 425px){
    .sobre .item {
        text-align: center;
    }

    .sobre{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
    }
}

/* SERVIÇOS */

.serviços{
    grid-area: serviços;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    margin-top: 5px;
    background-color: #ffffff;
    
}


.serviços .serviço{
    margin: 5px;
    padding: 70px 20px;
    border: 3px;
    border-style: solid;
    border-color: #000000;
    background-color: #00ffff;
}

.serviços .serviço img{
    width: 150px;
    margin-bottom: 30px;
}

.serviços .serviço h3{
    font-size: 1.8rem;
    font-weight: 700;
    color: #4000D3;
    font-family: 'Myriad Pro Bold';
}

.serviços .serviço p{
    font-family: 'Myriad Pro Light';
    font-size: 2rem;
    font-weight: 400;
    max-width: 400px;
    margin: 20px auto 0;
    line-height: 25px;
    color: #4000D3;
}

@media (max-width: 425px){
    .serviços{
        grid-template-columns: 1fr;
    }
}

/* CLIENTES */

.clientes{
    background-color: #000000;
    grid-area: clientes;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.clientes .cliente{
    margin: 10px;
}
.clientes img{
    width: 200px;
    height: 200px;
    transition: 0.3s;
    border-radius: 5px;
}

.clientes a:hover img{
    opacity: 0.8;
}

@media (max-width: 768px) {
    .clientes{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media (max-width: 425px) {
    .clientes{
        grid-template-columns: 1fr;
        grid-template-rows: repeat (4,1fr);
    }
}

/* FOOTER */

.footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
}

.footer h4{
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 5px;
    color: #ffffff;
}

.footer .endereço {
    margin: 15px;
    color: #ffffff;
}
.footer .endereço a {
    line-height: 30px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    color: #ffffff;
}


.footer .endereço a:hover{
    color: #00ffff;
    font-weight: 700;
}

.footer nav{
    margin: 20px;
}

.footer nav ul{
    display: flex;
    justify-content: center;
    max-width: 320px;
    margin: 0 auto;
}

.footer nav ul li a {
    font-weight: 500;
    font-size: 2rem;
    margin: 20px;
    transition: 0.3s;
    color: #ffffff;
}

.footer nav ul li a:hover{
    font-weight: 700;
    color: #00ffff
    ;
}

.footer .redes-sociais i{
    font-size: 2rem;
    transition: 0.3s;
    color: #ffffff;
}

.footer .redes-sociais a {
    margin: 20px;
}

.footer .redes-sociais a:hover{
    color: #00ffff;
}


